html, body, p
{
	border: 0;
	padding: 0;
	margin: 0;
}

body
{
	background-color: rgb(32, 32, 32);
}

p
{
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

#Selection
{
	display: block;
	position: absolute;
	color: white;
	font-size: 1.5em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#Running
{
	display: none;
	position: absolute;
	color: white;
	font-size: 3em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#Equation
{
	color: white;
}